{
    "extends": "stylelint-config-standard",
    "rules": {
        "at-rule-no-unknown": [
            true, {
                "ignoreAtRules": [
                    "content",
                    "else",
                    "if",
                    "include",
                    "mixin",
                    "extend",
                ],
            },
        ],
        "declaration-block-trailing-semicolon": null,
        "indentation": 4,
        "no-missing-end-of-source-newline": null
    }
}
