@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');

html {
    background: url(./fog-foggy-forest-158607.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
